<footer class="relative flex h-64 items-center justify-center">
  <div class="text-left text-secondary">
    <div class="text-xs">
      <strong>CEO</strong> | Willy Kim
    </div>
    <div class="text-xs">
      <strong>ADDR</strong> | 122-6, Dongsung-gil, Jongno-gu, Seoul, ROK
    </div>
    <div class="text-xs">
      <strong>CONTACT</strong> |{" "}
      <a href="mailto:wwksyndrome@gmail.com">wwksyndrome@gmail.com</a>{" "}
    </div>
    <div class="text-xs">
      © 2024 Willy Wonka Syndrome, All rights reserved.
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-footer);
  }
</style>
