---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="세상에 없던 광고" id="intro">
  <Icon slot="eyebrow" name="onthehouse_logomark" class="size-32" />
  <Fragment slot="lead">
    <!-- 쓰레기가 되어 쌓여만 가는 전단지들, <br />아깝지 않으셨나요?<br />
    온더하우스로
    <span class="text-primary">차세대 전단지</span>를 제작해보세요.
    <br />온더하우스가 광고제작, 무료나눔까지 <br />전부 함께합니다. -->
    <p>쓰레기가 되어 쌓여만 가는 전단지들,</p>
    <p>아깝지 않으셨나요?</p>
    <p>
      온더하우스로<span class="text-primary"> 차세대 전단지</span>를 제작해
      보세요.
    </p>
    <p>온더하우스가 광고제작, 무료나눔까지</p>
    <p>전부 함께합니다.</p>
  </Fragment>
</ContentSection>
